.main{
    background-color: #0A1861;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}
.container{
    max-width: 1420px;
    margin: 0px auto;
    padding: 0px 0px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 25px;
}
.container a{
    color: #F35237 !important;
    background-color: white !important;
    margin: auto 0px;
    padding: 5px 15px;
    font-weight: 600;
    cursor: pointer;
}
.container a:hover{
    color: white !important;
    background-color: #FFB130 !important;
}
.header{
    
    padding:10px 0px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
}
.border{
    border: .5px solid  rgba(131, 140, 150, 0.6);
    width: 60px;
    text-align: center;
}
.header p{
    font-size: 14px;
    color:rgb(104, 109, 114)
}
.container__google{
    padding:5px 15px 5px 15px
}
.google__box{
    display: grid;
    grid-template-columns: 60px 1fr ;
    grid-gap: 10;
    /* padding:0px 5px 0px 5px; */
    justify-content:center;
    align-items:center;
    border: .5px solid rgb(223, 213, 213);
    border-radius: 5px;
    margin-bottom:15px
    
}
.arrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:10px 10px 10px 10px;
}
.arrow:hover {
    background-color:#00ACF6;
    cursor: pointer;
    color:#fff
}
.image__border{
    border-right: .5px solid rgb(224, 215, 215);
    text-align: center;
    justify-content: center;
    margin-top: 2px;
}
.footer{
    text-align: center;
    margin-bottom:10px;
    margin-top:10px
}
.footer p{
    font-size:12px
}
.footer span{
    color:#00ACF6;
}

.input__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding:5px 10px 5px 10px;
    border-bottom: .5px solid rgb(200, 215, 230);
    box-shadow: 1px 1px 5px #888888;
    cursor: pointer;
}
.input__header p{
    font-size:12px;
}




.main1 form div{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin-top: 20px;
    padding: 0px 40px;
    
}

.input {
    border: 1px solid #000;
    border-radius: 2px;
    height: 40px;
    padding: 10px;
}
.input:focus{
    outline: none;
}
.label{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1px;
}
.main1 form div span{
    color: red;
    font-size: 12px;
    font-weight: bold;
}
.button{
    background-color: #00ACF6;
    border: none;
    border-radius: 2px;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px 0;
}
.password p{
    font-size:14px;
    color:#afbbc0;
    cursor: pointer;
}
.password p:hover{
    text-decoration:underline;
    color:#00ACF6;
}