.main {
  padding-top: 80px;
}
.main a {
  text-decoration: none !important;
}
.container {
  max-width: 1420px;
  margin: 0px auto;
}
.profile__container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 20px;
}
.profile__dashboard {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #dcdddd;
  margin: 20px 0px;
  border-radius: 15px;
}
.profile__dashboard a {
  font-weight: 600;
  padding: 8px 18px;
  margin: auto 0px;
}
.profile__dashboard a:hover {
  background-color: #f15336;
  color: white !important;
}
.launched__container {
  background-color: #dcdddd;
  margin: 20px 0px;
  border-radius: 15px;
  padding-bottom: 20px;
}
.launched__container h5 {
  text-align: center;
  padding: 10px 0px;
}
.launched__game__list {
  margin: 0px 30px 0px 30px;
  background-color: white;
  border-radius: 15px;
}
.review__drop {
  margin: 0px 30px 0px 30px;
  background-color: white;
  border-radius: 15px;
  height: 200px;
}
.review__drop1 {
  margin: 0px 30px 0px 30px;
  background-color: white;
  border-radius: 15px;
  height: 200px;
}
.launched__game__list h6 {
  padding: 8px 8px;
}
.launched__game__header {
  display: grid;
  grid-template-columns: 220px 130px 130px 150px 130px 180px;
  grid-gap: 20px;
}
.launched__game__header h6 {
  margin: 0px;
}
.launched__game__header p {
  padding: 5px 8px;
}
.result__list__header {
  display: grid;
  grid-template-columns: 280px 220px 220px 170px;
  grid-gap: 20px;
}
.result__list__header h6 {
  margin: 0px;
}
.result__list__header p {
  padding: 5px 8px;
}
.game__list__header {
  display: grid;
  grid-template-columns: 50px 220px 130px 130px 130px 130px 130px;
  grid-gap: 20px;
}
.game__list__header h6 {
  margin: 0px;
}
.game__list__header p {
  padding: 5px 8px;
}
.result__send__header {
  display: grid;
  grid-template-columns: 100px 230px 200px 200px 200px;
  grid-gap: 20px;
}
.result__send__header h6 {
  margin: 0px;
}
.result__send__header p {
  padding: 5px 8px;
}
.result__publish__header {
  display: grid;
  grid-template-columns: .5fr .5fr .5fr .5fr 1fr;
  grid-gap: 20px;
}
.result__publish__header h6 {
  margin: 0px;
}
.result__publish__header p {
  padding: 5px 8px;
}
.deposit_list_header {
  display: grid;
  grid-template-columns: .3fr 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.deposit_list_header h6 {
  margin: 0px;
}
.deposit_list_header p {
  padding: 5px 8px;
}
.request__list__header {
  display: grid;
  grid-template-columns: 180px 180px 120px 150px 150px 100px 150px;
  grid-gap: 20px;
}
.request__list__header h6 {
  margin: 0px;
}
.request__list__header p {
  padding: 5px 8px;
}
.edit__delete__button {
  background-color: #f15336;
  color: white !important;
  padding: 3px 10px;
  margin-bottom: 0px;
  border-radius: 15px;
}
.edit__delete__button:hover {
  background-color: white !important;
  color: #f15336 !important;
}
.edit__delete__button1 {
  background-color: #f15336;
  color: white !important;
  margin-bottom: 0px;
  border-radius: 15px;
  
  
}
.edit__delete__button1:hover {
  /* background-color: #f15336 !important; */
  color: #f15336 !important;
}
.accept__button {
  background-color: #74a378;
  color: white;
  padding: 3px 10px;
  margin-bottom: 0px;
  border-radius: 15px;
}
.accept__button:hover {
  background-color: white;
  color: #74a378;
}
.reject__button {
  background-color: #f47174;
  color: white;
  padding: 3px 10px;
  margin-bottom: 0px;
  border-radius: 15px;
}
.reject__button:hover {
  background-color: white;
  color: #f47174;
}
.edit__form {
  padding: 8px 15px;
}
.edit__form form div span {
  color: red;
  font-size: 12px;
  font-weight: bold;
}
.input {
  border: 1px solid #000;
  border-radius: 2px;
  height: 30px;
  width: 100%;
  padding: 0px 10px;
  outline: none;
}
.text_area {
  border: 1px solid #000;
  border-radius: 2px;
  height: 50px;
  width: 100%;
  padding: 0px 10px;
  outline: none;
}
.label {
  font-size: 12px;
  font-weight: 500;
  /* margin-bottom: 1px; */
}
.button {
  background-color: #0a1861;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 0;
}
.button1 {
  background-color: #0a1861;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 0;
  width: 70px;
}
.button2 {
  background-color: #0a1861;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  
  width: 70px;
}
.button3 {
  background-color: #0a1861;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  
  width: 95px;
}
.launch__game__container {
  background-color: #dcdddd;
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}
.launch__game__container form {
  max-width: 350px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 0px auto;
}
.border__bottom {
  background-color: #f15336;
  color: white !important;
}

.main1 form div {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  margin-top: 10px;
  padding: 0px 30px 0px 30px;
}


/* available game */
.available__games__container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 30px;
  justify-content: center;
}

.single__games__container {
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: #f35237;
  /* padding: 10px; */
  -webkit-box-shadow: 0px 2px 15px 8px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 2px 15px 8px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.available__game__list {
  margin: 0px 30px 0px 30px;
  background-color: white;
  border-radius: 15px;
}
.available__game__list h6 {
  padding: 8px 8px;
}
.available__game__header {
  display: grid;
  grid-template-columns: 120px 170px 150px 100px 100px 100px 170px;
  grid-gap: 15px;
}
.available__game__header h6 {
  margin: 0px;
}
.available__game__header p {
  padding: 5px 8px;
}
.request__button{
  background-color: white;
  border: 1px solid #f35237;
  padding: 0px 10px;
  border-radius: 5px;
  font-weight: 700;
  color: #f35237;
  margin: 3px 3px;
}
.request__button:hover{
  color: white;
  background-color:#f35237;
}


/* deposit */
.diposit{
  padding:1px 0px;
  position: relative;
  margin:2px 0px;
}
.dipositList{
  display: none;
  position:absolute;
  background-color:rgb(175, 164, 164);
  z-index: 100;
  top:35px;
  left:15px;
  height:120px;
}
.diposit:hover .dipositList{
  display: block;
}
/* withdraw */
.withdraw{
  padding:1px 0px;
  position: relative;
  margin:2px 0px;
}
.withdrawList{
  display: none;
  position:absolute;
  background-color:rgb(175, 164, 164);
  z-index: 80;
  top:35px;
  left:15px;
  height: 80px;
}
.withdraw:hover .withdrawList{
  display: block;
}
/* challenge */
.challenges{
  padding:1px 0px;
  position: relative;
  margin:2px 0px;
}
.challengesList{
  display: none;
  position:absolute;
  background-color:rgb(175, 164, 164);
  z-index: 60;
  top:35px;
  left:15px;
  height: 250px;
}
.challenges:hover .challengesList{
  display: block;
}

/* tournaments */
.tournaments{
  padding:1px 0px;
  position: relative;
  margin:2px 0px;
}
.tournamentsList{
  display: none;
  position:absolute;
  background-color:rgb(175, 164, 164);
  z-index: 40;
  top:35px;
  left:15px;
  height: 250px;
}
.tournaments:hover .tournamentsList{
  display: block;
}
/* disputes */
.disputes{
  padding:1px 0px;
  position: relative;
  margin:2px 0px;
}
.disputesList{
  display: none;
  position:absolute;
  background-color:rgb(175, 164, 164);
  z-index: 35;
  top:35px;
  left:15px;
  height: 80px;
}
.disputes:hover .disputesList{
  display: block;
}
/* affiliate */
.affiliate{
  padding:1px 0px;
  position: relative;
  margin:2px 0px;
}
.affiliateList{
  display: none;
  position:absolute;
  background-color:rgb(175, 164, 164);
  z-index: 20;
  top:35px;
  left:15px;
  height: 80px;
}
.affiliate:hover .affiliateList{
  display: block;
}



/* responsive */

@media (min-width: 769px) and (max-width: 1024px) {
  .profile__container {
   overflow-x: scroll;
  }
 
 
}
@media (min-width:424px) and (max-width:768px){
  .profile__container {
    overflow-x: scroll;
   }
 
}
@media (min-width:320px) and (max-width:423px){
  .profile__container {
    overflow-x: scroll;
   }
 
}